@font-face {
    font-family: Gilroy;
    src: url("../asset/Gilroy/Gilroy-Bold.woff");
}

@font-face {
    font-family: Gilroy-Bold;
    src: url("../asset/Gilroy/Gilroy-ExtraBold.woff");
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../asset/Gilroy/Gilroy-Light.woff");
}

@font-face {
    font-family: Gilroy-ultLight;
    src: url("../asset/Gilroy/Gilroy-UltraLight.woff");
}



.sidebar {
    width: 225px;
    height: 100%;
    background-color: #5956E9;
    position: fixed;
    left: 0;
    top: 0;
    /* float: left; */
    /* display: inline-block; */

}

.sb-hidden {
    width: 225px;
    height: 1000px;
    background-color: #3A37AC;
    float: left;
}

.sb-header {
    width: inherit;
    height: 62.5px;
    position: relative;
    border-bottom: 2px solid #3A37AC;
    /* padding-left: 15px;
    padding-top: 20px; */
}

.sb-header a {
    text-decoration: none;
    list-style-type: none;
    color: white;
    /* background-color: aqua; */
    margin: 23px 0 0 15px;
    float: left;
    position: absolute;
}

.sb-header p {
    font-size: 18px;
    /* width: fit-content; */
    /* z-index: -1; */
    font-weight: bold;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* -------------------------------------------------------------------------- */

.sb-main-title {
    margin-top: 25px;


    font-family: "Gilroy";
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 20px;
    font-size: 18px;
}



.sb-main {
    padding-left: 35px;
    width: 100%;

}

.sb-main-child {
    width: 100%;

}

.sb-main a {
    text-decoration: none;
    color: white;
    text-decoration-style: none;
}

.sb-main a:hover {
    color: white;

    background-color: #3A37AC;
    border-left: 5px solid #120E86;
}

.sb-main-child a{
    
    padding-left: 25px;
}

.sb-main-child p{
    font-size: 14px;
    font-family: "Gilroy-ultLight";
    font-weight: bold;
}
/* -------------------------------------------------------------------------- */

.sb-main-dua{
    /* padding-left: 15px; */
    width: inherit;
    /* height: fit-content; */
}

.sb-main-dua a{
    text-decoration: none;
    color: white;
}
.sb-main-dua p{
    font-size: 14px;
    font-family: "Gilroy-ultLight";
    font-weight: bold;
}
.wreppy{
    width: 100%;
    line-height: 40px;
    height: 40px;
    padding-left: 35px;
}

.sb-main-dua .wreppy:hover{
    
    color: white;

    background-color: #3A37AC;
    border-left: 5px solid #120E86;
}






/* -------------------------------------------------------------------------- */

.wrapper-kanan {
    width: calc(100% - 325px);
    background-color: white;
    padding: 15px 0 0 25px;
    /* margin-left: 25px; */
    float: left;
}

.wrapper-kanan p {
    font-family: "Gilroy-Light";
    font-size: 15px;
}

.wrapper-kanan h1 {
    font-family: "Gilroy-Bold";
    color: #5956E9;
    font-size: 35px;
}

.wrapper-kanan h3 {
    font-family: "Gilroy";
    color: #5956E9;
    font-size: 25px;
}

.wrapper-kanan ol {
    line-height: normal;
    font-size: 15px;
}