@font-face {
  font-family: "Gilroy";
  src: url("../asset/Gilroy/Gilroy-ExtraBold.woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../asset/Gilroy/Gilroy-Light.woff");
}

@font-face {
  font-family: "Gilroy-reg";
  src: url("../asset/Gilroy/Gilroy-Regular.woff");
}

body {
  background: #FFFFFF;
}

#nav2 {
  display: none;
}
.navbar {
  width: 100%;
  background: #5956E9;
}
@media (min-width: 430px) {
  .navbar{
    display: none;
  }
}
.navbar img {
  
  float: left;
  width: 40px;
  height: 40px;
}

.navbar span  {
  font-family: "Gilroy";
  /* color: #FFFFFF; */
  font-weight: bold;
  width: fit-content;
}


.toggle-navbar {
  color: white;
  border: 2px solid white;
  border-radius: 9px;
  text-decoration: none;
  padding: 5px;
  background: none;

  /* margin-top: 10px; */

}
.wrapper-parent {
  /* background-color: #fefefe; */
  /* float: left; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  
  /* width: 82%;
  height: 100%;
  
  padding-left: 32.5px;
  padding-top: 25px;
  padding-bottom: 5px; */

  /* position:absolute; */
  height: 100%;
  width: calc(100%-225px);
  left: 225px;
  transition: all 0.5s ease;
  overflow-y: scroll;
}



@media (min-width:770px){
  .tanggal {
    /* position: absolute; */
    /* right: 0; */
    /* padding-top: 30px; */
    padding-right: 25px;
    float: right;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: bold;
    color: #5956E9;
  }
  
}
@media (max-width:770px){
  .tanggal{
    /* position: absolute; */
    /* right: 0; */
    /* padding-top: 30px; */
    /* padding-right: 25px; */
    float: left;
    font-family: "Gilroy";
    font-size: 20px;
    font-weight: bold;
    color: #5956E9;
  
  }
}

.hero-title h1 {
  font-size: 32px;
  font-family: "Gilroy";
  font-weight: bold;
  color: #5956E9;
}

/* --------------------------------- search --------------------------------- */

.search-wrapper {
  position: relative;
}
@media (max-width:430px) {
  .search-wrapper {
    padding: 30px 30px 0 30px;
  }
  .search-wrapper form{
    padding-bottom: 30px;
    border-bottom: 1px solid #001a37; 
  }
}
@media (min-width:430px) {
  .hilangHD {
    display: none;
  }
}
.search-btn {
  border: none;
  background: none;
  position: absolute;
  float: left;
  margin-top: 5px;
  /* top: 5px; */
}

#search-inp {
  padding-left: 35px;
  width: 400px;
  border-radius: 20px;
  font-family: "Gilroy-Light";
  font-size: 16px;

  background-color: #DCDBFF;
  color: white;
  border: none;
}

#search-inp::placeholder {
  color: #9C9C9C;

}

.fa-search {
  color: #9C9C9C;
}
@media (max-width: 430px) {
  .fa-search {
    color: white;
  }
  #search-inp{
    background-color: #3A37AC ;
    color: white;
    width: 100%;
  }
}
/* ------------------------------- End search ------------------------------- */

@media (max-width: 430px) {
  .row {
    display: none;
  }
  .box-modul {
    width: 30px;
  }
}
.wrapper-modul {
  position: relative;
}

.wrapper-modul a {
  color: white;
  text-decoration: none;
  font-family: 'Gilroy';
  font-weight: bold;
  float: left;
  
}

.wrapper-modul a:hover {
  text-decoration: none;
}




.box-modul {
  
  width: 194px;
  height: 194px;

  /* width: 20%;
  height: 35%; */
  overflow: hidden;
  
  /* ideal size but, ngebug */
  /* width: 210px;
  height: 210px; */
  
  margin-right: 15px;
  margin-top: 15px;
  border-radius: 30px;
  padding-left: 15px;
  padding-top: 15px;
  position: relative;
  
  background: #5956E9;
}
@media (max-width: 430px) {
  .box-modul {
    width: 90vw;
    height: 180px;

    /* versi lama */
    /* width: 180px;
    height: 180px; */
    /* background-color: red; */
  }
}

.box-modul p {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 1;

  color: white;
}

.modul-link {
  position: absolute;
  /* background-color: white; */
  /* width: 120px;
  height: 122px; */

  /* original size */
  width: 135px;
  height: 137px;

  bottom: 0;
  right: 0;
}

/* ------------------------------- modul-link ------------------------------- */
/* upcoming in 2.0v */
/* mdlData{

} */
/* -------------------------------------------------------------------------- */


/* --------------------------------- Sidebar -------------------------------- */
.sidebar {
  width: 225px;
  /* width: 60px; */
  /* margin-right: 20px; */

  height: 100%;
  float: left;
  transition: 0.5s;
  overflow: hidden;
  position: relative;

  background: #5956E9;

}
@media (max-width:430px){
  .sb-header{
    display: none;
  }
  .sidebar{
    width: 100%;
    height: calc(100% - 56px);
    display: none;
  }
}

.sb-main-wrapper{
  display: block;
}

/* Sidebar Header */
.sb-header {
  height: 66.5px;
  padding-left: 15px;
  border-bottom: 2px solid #3A37AC;
}

.sb-header img {
  
  float: left;
  width: 40px;
  height: 40px;
}

.sb-header p {
  font-family: "Gilroy";
  color: #FFFFFF;
  font-weight: bold;
  width: fit-content;
  margin-left: 65px;
  margin-top: 8px;
  font-size: 16px;
}

.toggle-sidebar {
  color: white;
  border: none;
  text-decoration: none;
  background: none;

  margin-top: 10px;

}

/* Sidebar Main */
.sb-main {
  padding-left: 22.5px;
  padding-top: 19px;
}

.hero-title {
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.sb-main span {
  font-family: "Gilroy";
  font-weight: 600;
  color: white;
}

.wrapper-main {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}


.sb-main a {
  text-decoration: none;
}

.child-main {
  width: inherit;
  line-height: 40px;
  height: 40px;
}


.child-main:hover {
  background-color: #3A37AC ;
  border-left: 5px solid #120E86;
}

.wrapper-main a span {
  margin-left: 20px;
  font-size: 12px;
  font-family: 'Gilroy-reg';
}

.wrapper-main a i {
  float: left;
  color: white;
  /* position: absolute; */
  margin-top: 10px;
}
@media (max-width: 430px) {
  .hero-title {
    font-size: 20px;
  }
  #sb-title{
    color: white;
    padding-left: 30px;
    padding-top: 25px;
  }
  .sb-main{
    padding: 0;
  }
  .wrapper-main a span {
    /* margin-left: 45px; */
    font-size: 16px;
    font-family: 'Gilroy-reg';
  }
  
  .wrapper-main a i {
    float: left;
    color: white;
    /* position: absolute; */
    margin-top: 10px;
  }
  .child-main{
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .b0rder{
    border-bottom: 1px solid #001a37; 
  }
  .child-main:hover {
    border-left: none;
  }
}

/* Sidebar Profile */
.sb-profile {
  width: 225px;
  height: 60px;
  background-color: #3A37AC;
  position: absolute;
  bottom: 32.5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-right: 5px;
}
@media (max-width: 430px) {
  .sb-profile{
    width: 100%;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    bottom: 70px;

  }
}

.sb-profile img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  float: left;
}

.sb-profile i {
  color: white;
}

.sb-profile .name {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 16px;
  font-family: "Gilroy";
  color: white;
  font-weight: bold;

}

.sb-profile .job {
  font-size: 12px;
  font-family: "Gilroy-Light";
  color: white;
}

.sb-pr-text-wrapper {
  line-height: 7.5px;
  padding-top: 7px;
  padding-left: 60px;
}

.exit-acc {
  float: right;
  margin-top: 13.5px;

}
.kopiright {
  /* bottom: 0; */
  /* position: absolute; */
  margin-top: 150px;
  color: white;
  font-family: "Gilroy-light";
  font-size: 12px;
}

/* -------------------------------------------------------------------------- */

/* ------------------------------ Sidebar Mini ------------------------------ */

.sb-mini {
  position: relative;
  height: inherit;
  display: none;

}

.sb-mini button{
  border: none;
  background: none;
  color: white;
}

.sb-mini a{
  text-decoration: none;
  color: white;
}
.sb-mini-header{
  padding: auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #3A37AC;
}

.sb-mini-main{
  margin-top: 15px;
}
.sb-mini-main-child {
  /* margin-top: 30px; */
  width: inherit;
  height: fit-content;
  padding: 15px 0;
}
.sb-mini-main-child:hover {
  background-color: #3A37AC ;
  border-left: 5px solid #120E86;

}

.sb-mini-profil {
  
  position: absolute;
  bottom: 32.5px;
  /* padding-left: 35%; */
  width: 100%;
  height: 60px;
  padding-top: 20px;
  background-color: #3A37AC;

}
/* -------------------------------------------------------------------------- */

/* --------------------------------- Footer --------------------------------- */

* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #001a37;
}

ul li {
  list-style-type: none;
  font-family: "Gilroy";
  color: white;
}

a {
  text-decoration: none;
  font-family: "Gilroy-Light";
  color: white;
}

.alamat-isi {
  font-family: "Gilroy-Light";
}

.contact-title {
  color: white;
  font-family: "Gilroy";
  margin-left: 30px;
}

.copyright {
  background-color: #001a37;
  color: white;
  font-size: 12px;
}

.title {
  padding-bottom: 2px;
  border-bottom: 1px solid #5956E9;
}

@media (max-width: 576px) {
  .bagian-kiri {
      display: flex;
      flex-wrap: wrap;
  }

  .halaman {
      width: 100%;
  }

  .modul {
      padding: 0 !important;
      margin-left: 24px !important;
      width: 100%;
      margin-top: 10px;
  }

  .modul ul {
      padding-left: 32px !important;
  }

  .bagian-kanan {
      width: 100% !important;
  }

  .alamat {
      margin-left: 24px !important;
  }

  .contact {
      margin-left: 24px !important;
  }
}

.uy {
  clear: both;
}