@font-face {
  font-family: Gilroy;
  src: url("../asset/Gilroy/Gilroy-Bold.woff");
}
@font-face {
  font-family: Gilroy-Bold;
  src: url("../asset/Gilroy/Gilroy-ExtraBold.woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("asset/Gilroy/Gilroy-Light.woff");
}

@font-face {
  font-family: Gilroy-Light;
  src: url("../asset/Gilroy/Gilroy-UltraLight.woff");
}

body {
  background: #FFFFFF;
}

/* --------------------------------- Sidebar -------------------------------- */
.sidebar {
  width: 240px;
  /* width: 60px; */

  height: 100%;
  float: left;
  transition: 0.5s;
  overflow: hidden;
  position: relative;

  background: #5956E9;


}

.tanggal p{
  font-family: "Gilroy-Bold";
  font-weight: bold;
  font-size: 16px;
}

@media (max-width:430px) {
  .sidebar {
      width: 100%;
      height: calc(100% - 56px);
      display: none;
  }
}

.sb-main-wrapper {
  display: block;
}

.sb-top {
  padding-left: 20px;
  padding-right: 20px;

}

/* Sidebar Header */
.sb-header {
  height: 66.5px;
  border-bottom: 2px solid #3A37AC;
}

.sb-header span {
  font-family: "Gilroy";
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 30px;
  font-size: 18px;
}

.toggle-sidebar {
  color: white;
  border: none;
  text-decoration: none;
  background: none;

  margin-top: 10px;

}
.toggle-sidebar:hover{
    color: white;
}

#sb-title {
  margin-left: 20px;
}

/* Sidebar Main */
.sb-main {
  padding-top: 19px;
}


.hero-title {
  font-size: 16px;
  font-weight: bold;
}

.sb-main span {
  font-family: "Gilroy";
  font-weight: bold;
  color: white;
}

.wrapper-main {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin-top: 13px;
}


.sb-main .child-main {
  text-decoration: none;
  padding-left: 10px;
}

.child-main {
  width: inherit;
  line-height: 40px;
  height: 40px;
}

#p-umum {
  background-color: #3A37AC;
  border-left: 5px solid #120E86;
}

.child-main:hover {
  background-color: #3A37AC;
  border-left: 5px solid #120E86;
}

.wrapper-main .child-main span {
  margin-left: 20px;
  font-size: 14px;
  font-family: "Gilroy-Light";
}

.wrapper-main .child-main i {
  float: left;
  color: white;
  /* position: absolute; */
  margin-top: 10px;
}

@media (max-width: 430px) {
  .hero-title {
      font-size: 20px;
  }

  #sb-title {
      padding-left: 30px;
      padding-top: 25px;
  }

  .sb-main {
      padding: 0;
  }

  .wrapper-main a span {
      /* margin-left: 45px; */
      font-size: 16px;
      font-family: "Gilroy-Light";
  }

  .wrapper-main a i {
      float: left;
      color: white;
      /* position: absolute; */
      margin-top: 10px;
  }

  .child-main {
      height: 60px;
      padding-left: 30px;
      padding-right: 30px;
  }

  .b0rder {
      border-bottom: 1px solid #001a37;
  }

  .child-main:hover {
      border-left: none;
  }
}



/* ------------------------------ Sidebar Mini ------------------------------ */

.sb-mini {
  position: relative;
  height: inherit;
  display: none;

}

.sb-mini button {
  border: none;
  background: none;
  color: white;
}

.sb-mini a {
  text-decoration: none;
  color: white;
}

.sb-mini-header {
  padding: auto;
  padding-bottom: 15px;
  border-bottom: 2px solid #3A37AC;
}

.sb-mini-main {
  margin-top: 15px;
}

.sb-mini-main-child {
  /* margin-top: 30px; */
  width: inherit;
  height: fit-content;
  padding: 15px 0;
}

.sb-mini-main-child:hover {
  background-color: #3A37AC;
  border-left: 5px solid #120E86;

}

.sb-mini-profil {

  position: absolute;
  bottom: 32.5px;
  /* padding-left: 35%; */
  width: 100%;
  height: 60px;
  padding-top: 20px;
  background-color: #3A37AC;

}

/* -------------------------------------------------------------------------- */

.wrapper-parent {
  height: 100%;
  width: calc(100%-225px);
  left: 225px;
  transition: all 0.5s ease;
  overflow-y: scroll;
}



@media (min-width:770px) {
  .tanggal {
      /* position: absolute; */
      /* right: 0; */
      /* padding-top: 30px; */
      padding-right: 25px;
      float: right;
      font-family: "Gilroy";
      font-size: 20px;
      font-weight: bold;
      color: #5956E9;
  }

}

@media (max-width:770px) {
  .tanggal {
      /* position: absolute; */
      /* right: 0; */
      /* padding-top: 30px; */
      /* padding-right: 25px; */
      float: left;
      font-family: "Gilroy-Bold";
      font-size: 20px;
      font-weight: bold;
      color: #5956E9;

  }
}

.hero-title h1 {
  font-size: 18px;
  font-family: "Gilroy";
  font-weight: bold;
  color: #5956E9;
}

h5 {
  margin-left: 10px;
}

.wrapper-child {
  color: #5956E9;
}

.wrapper-child h4 {
  font-weight: bold;
}

.wrapper-child h5 {
  font-weight: bold;
}

.wrapper-child p {
  color: #8F8F8F;
  font-size: 20px;
}

.input-content {
  width: 455px;
  height: 40px;
  padding-left: 20px;
  background: #DCDBFF;
  color: #5956E9;
  border: none;
  border-radius: 20px;
  font-size: 13px;
}

.beda {
  background: #D8D8D8;
}

.foto .top p {
  margin-left: 10px;
  font-family: "Gilroy";
  font-size: 13px;
  
}

.foto .bot img {
  border-radius: 100%;
  margin-left: 10px;
  margin-right: 50px;
  width: 85px;
  height: 85px;
}

.wrapper-child button {
  background-color: #5956E9;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.wrapper-child .btn-2 {
  background-color: white;
  color: #5956E9;
}

.profile p{
  font-family: "Gilroy";
  font-size: 13px;
}

.profile h4{
  font-size: 16px;
  font-family: "Gilroy";
  font-weight: bold;
}
.profile h5{
  font-family: "Gilroy";
  font-size: 14px;
}
.profile-pribadi {
  margin-top: 200px;
}
.profile-pribadi p{
  font-family: "Gilroy";
  font-size: 13px;
}

.profile-pribadi h5{
  font-family: "Gilroy";
  font-size: 14px;
}
.profprib{
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 16px;
}

#setting2 {
  display: none;
}


.tombol{
    font-size: 12px !important;
    background-color: red;
}
/* --------------------------------- Footer --------------------------------- */

* {
  margin: 0;
  padding: 0;
}

footer {
  background-color: #001a37;
}

ul li {
  list-style-type: none;
  font-family: "Gilroy";
  color: white;
}

a {
  text-decoration: none;
  font-family: "Gilroy-Light";
  color: white;
}

.alamat-isi {
  font-family: "Gilroy-Light";
}

.contact-title {
  color: white;
  font-family: "Gilroy";
  margin-left: 30px;
}

.copyright {
  background-color: #001a37;
  color: white;
  font-size: 12px;
}

.title {
  padding-bottom: 2px;
  border-bottom: 1px solid #5956E9;
}

@media (max-width: 576px) {
  .bagian-kiri {
      display: flex;
      flex-wrap: wrap;
  }

  .halaman {
      width: 100%;
  }

  .modul {
      padding: 0 !important;
      margin-left: 24px !important;
      width: 100%;
      margin-top: 10px;
  }

  .modul ul {
      padding-left: 32px !important;
  }

  .bagian-kanan {
      width: 100% !important;
  }

  .alamat {
      margin-left: 24px !important;
  }

  .contact {
      margin-left: 24px !important;
  }
}

.uy {
  clear: both;
}