@font-face {
  font-family: "Gilroy";
  src: url("../asset/Gilroy/Gilroy-ExtraBold.woff");
}

@font-face {
  font-family: "Gilroy-Light";
  src: url("../asset/Gilroy/Gilroy-Light.woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #5956e9;
  height: 100vh;
}

.logo-smkn {
  width: 10%;
}

.title-smk {
  font-family: "Gilroy";
  font-size: 5vw;
  text-shadow: 2px 2px black;
}

.bag-kanan {
  width: 40%;
  height: 100%;
}

.bag-kiri {
  width: 60%;
}

.card-luar {
  height: 100vh;
  width: 100%;
  border-radius: 5% 0 0 5%;
  background: #58c0ea;
}

.card-dalam {
  width: 90%;
  height: 90vh;
  background: #5956e9;
  border-radius: 5%;
  box-shadow: 15px 15px white;
}

.title-masuk {
  font-family: "Gilroy";
  font-size: 3.9vw;
}

form {
  width: 80%;
}

.form-label {
  font-family: "Gilroy";
}

.form-control {
  border-radius: 12px;
}

.input-group-text {
  border-radius: 12px 0 0 12px;
}

.btn {
  font-family: "Gilroy";
  background: #58c0ea;
  margin-left: 28%;
}

blockquote {
  font-size: 1.3vw;
}

ul {
  text-decoration: none;
  list-style-type: none;
}

li a {
  color: white;
  font-size: 3vw;
}

a:hover {
  color: #58c0ea;
}

.logo-simnekat img {
  width: 60%;
  margin-left: 18%;
}

.smkn-mobile {
  display: none;
}

.contact-mobile {
  display: none !important;
}

/* RESPONSIVE/BREAKPOINTS */

/* Tab */
@media (max-width: 768.98px) {
  .bag-kanan {
    width: 60%;
  }

  blockquote {
    font-size: 1.7vw;
  }

  form {
    width: 100% !important;
  }

  .logo-simnekat img {
    width: 80%;
    margin-left: 10%;
  }
}

/* Mobile */
@media (max-width: 575.98px) {
  body {
    overflow: hidden;
  }

  .bag-kanan {
    width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  .card-luar {
    border-radius: 5% 5% 0 0;
    height: 110vh;
    margin-top: 25%;
  }

  .card-dalam {
    height: 100%;
  }

  .title-masuk {
    font-size: 8vw;
    margin-top: -1px !important;
  }

  blockquote {
    display: none;
  }

  .bag-kiri {
    display: none !important;
  }

  .smkn-mobile {
    display: flex;
    padding-top: 10px;
    margin-bottom: -20%;
    margin-left: 42%;
    width: 20%;
  }

  .contact-mobile {
    display: flex !important;
  }

  .contact-mobile ul {
    padding: 0;
  }

  .contact-mobile ul li a {
    font-size: 5vw;
  }
}
