.table > tbody > tr > *
{
    vertical-align: middle;
    text-align: center;
}

.btn-hapus
{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.imgWhite{
    filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(12deg) brightness(116%) contrast(106%);
}
.sidebar-nekat{
    background: #002147;
    /* margin-top: 70px; */
    /* padding: 6px 12px; */
}
.sidebar{
    transition: all 0.5s ease;
}
.sidebar .nav-item .nav-link img {
    width: 1rem;
    margin-right: 1.3rem;
    margin-left: 1.1rem;
}
.sidebar-nekat ul li .imgWhite:hover {
    filter: none;
}

.sidebar-nekat ul li a{
    color: white;
    /* display: flex; */
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space: nowrap;
}
.sidebar-nekat ul li a:hover {
    color: #11101d;
    background: white;
}

.topbar{
    width: 100%;
    height: 56px;
    background: #5956E9;
}

.topbar h1
{
    font-size: 40px;
}

.imgWhite{
    filter: invert(100%) sepia(0%) saturate(7472%) hue-rotate(12deg) brightness(116%) contrast(106%);
}

.wrapper-modul {
    position: relative;
    
}

.wrapper-modul a {
    color: white;
    text-decoration: none;
    font-family: 'Gilroy';
    font-weight: 600;
    float: left;
    
}
.logout-button
{
    background: none;
    text-decoration: none;
    border: none;
}
.box-modul {

    width: 254px;
    height: 165px;
    margin-right: 50px;
    margin-top: 20px;
    padding-top: 5px;
    border-radius: 30px 30px 0 0;
    position: relative;
    overflow: hidden;
    background: #58C0EA;
}

.box-modul .modul_name {
    font-family: "Gilroy-Light";
    font-weight: bold;
    font-size: 18px;
    position: relative;
    text-align: center;
}
.box-modul .detail {
    position: absolute;
    width: 100%;
    height: 25px;
    font-family: "Gilroy-Light";
    font-weight: 100;
    font-size: 12px;
    bottom: 0;
    padding-top: 5px;
    text-align: center;

    background: #002147;
}
.box-modul .row{
    align-items: center;
}
.box-modul img{
    width: 90px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.box-modul .fa-door-open{
    font-size: 80px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
.box-modul .link_name{
    font-size: 48px;
}

.box-modul .total{
    margin-bottom: 15px;
    font-size: 48px;
}

#content .menu {
    width: 57%;
    /* float: left; */
    /* background: white; */
    margin-bottom: 30px;
    border-bottom: 1px solid #11101d;
    text-align: center;
    cursor: pointer;

    background: white;
}
.menu a{
    color: black;
}
.menu .menu-item.active{
    background: #C4C2FF;
}
.menu .menu-item:hover{
    background: #C4C2FF;
}
.bayang{
    box-shadow: 2px 4px 8px 2px;
}
.top-tabel{
    padding: 0 27px;
}
.top-tabel .search{
    padding: 5px 0 0 5px;
}
.search .fa-search{
    position: absolute;
    margin-top: 12px;
    margin-left: 6px;
}
.search input{
    width: 239px;
    height: 30px;
    padding-left: 30px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 6px;
    border: none;
    background: #F4F2FF ;
}
.btn-plus{
    padding: 5px 5px 0 0;
}


.dataTables_filter label i{
    position: absolute;
    margin-top: 13px;
    margin-left: 12px;
}
.dataTables_filter .form-control{
    /* display: none; */
    width: 239px;
    height: 30px;
    padding-left: 30px;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 6px;
    border: none;
    background: #F4F2FF ;
}

.deled #del{
    margin: 0px 2.5px;
    cursor: pointer;
}
.deled #ed{
    margin: 0px 2.5px;
    cursor: pointer;
}

.table-responsive th{
    font-weight: bold;
    color: black;
    background: #C4C4C4;
}
.table-responsive td{
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
}
.baris{
    text-align: center;
}
.databarang{
    display: none;
}
.box .button a{
    margin-bottom: 5px;

    background: #5956E9;
}

#popup .box{
    border: 1px solid black;
    
    color: black;
    background: white;
}


.box .garis{
    width: 100%;
    height: 12px;

    background: #5956E9;
}
.box .text{
    font-weight: bolder;
    font-size: 24px;
    margin-top: 12px;
}
.box input{
    width: 100%;
    margin-top: 6px;
    padding: 6px;
    border: 1px solid black;
    background: #F4F2FF;
}
.box .form-select{
    width: 100%;
    height: 40px;
    margin-top: 6px;
    border: 1px solid black;

    background:#F4F2FF;
}

.sidebar-nekat .profile_content{
    /* position: absolute; */
    margin-top: auto;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
}
.sidebar-nekat .sidebar .profile_content .profile{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;
}
.profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 1;
    pointer-events: none;
    white-space: nowrap;
}
.sidebar-toggled .profile .profile_details{
    opacity: 0;
    pointer-events: auto;
}
.profile  .profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_details .name_job{
    margin-left: 10px;
}

.profile .profile_details .name{
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_details .job{
    font-size: 13px;
}
.profile #log-out{
    position: absolute;
    bottom: 5px;
    left: 88%;
    transform:translateX(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
}
.sidebar-toggled .profile #log-out{
    left: 50%;
}

.topbar{
    width: 100%;
    height: 56px;
    background: #5956E9;
}
.topbar-name{
    font-size: 40px;
}

@media (min-width: 768px) {
    .box .button a{
        width: 120px;
    }
    #popup .box{
        width : auto;
        margin-left: 25%;
        margin-right: 25%;
    }
    .toggled-nekat{
        display: block;
        width: 38.3px;
        height: 38.3px;
    }
    .sidebar-brand-icon{
        display: none;
    }
    
    
    .sidebar-nekat ul li {
        position: relative;
        height: 50px;
        width: 100%;
        margin: 5px 0 5px;
        list-style: none;
        /* line-height: 50px; */
        /* background: white; */
    }
    .sidebar-nekat ul li .tooltip{
        position: absolute;
        left: 177px;
        top: 50px;
        transform: translate(-50% , -50%);
        border-radius: 6px;
        height: 35px;
        width: 122px;
        background:#fff;
        line-height: 35px;
        text-align: center;
        box-shadow: 0 5px 10px rgba(0, 0,0, 0.2);
        transition: 0s;
        opacity: 0;
        pointer-events: none;
        display: block;
    }
    
    .sidebar-toggled ul li:hover .tooltip{
        transition: all 0.5s ease;
        opacity: 1;
        top:50%;
    
    }
    
    .sidebar-nekat ul li a{
        color: white;
        display: flex;
        align-items: center;
        text-decoration: none;
        transition: all 0.4s ease;
        border-radius: 12px;
        white-space: nowrap;
    }
    
    
    .sidebar-nekat ul li i{
        width: 50px;
        /* min-width: 50px; */
        border-radius: 12px;
        /* line-height:50px; */
        text-align: center;
    }
    
    .sidebar-toggled .nav-item .nav-link img {
        /* width: 1rem; */
        /* margin-right: 1.3rem; */
        margin-left: 1.35rem;
    }
    .sidebar.toggled .nav-item .nav-link span{
        display: none;
    }
}

@media (max-width:768px){
    #popup .box{
        width : auto;
        /* margin-left: 25%;
        margin-right: 25%; */
    }
    
    .toggled-nekat{
        display: none;
    }
    .sidebar-brand-icon{
        display: block;
        color: white;
    }
    .sidebar-nekat .profile .profile_details{
        opacity: 0;
        pointer-events: auto;
    }
    .sidebar-nekat .profile #log-out{
        left: 50%;
    }
    .topbar h1
    {
    font-size: 20px;
    }
    

}

